apiVersion: v1
kind: LimitRange
metadata:
  name: lr-ns-dev
  namespace: ns-dev
spec:
  limits:
  - type: Container
    defaultRequest:
      cpu: "100m"
      memory: "128Mi"
    default:
      cpu: "200m"
      memory: "256Mi"
    max:
      cpu: "200m"
      memory: "256Mi"
    min:
      cpu: "50m"
      memory: "64Mi"
